[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
build = "==1.*"
Cython = "==3.*"
numpy = "==1.26.*"
setuptools = "*"

[requires]
python_version = "3.11"
